:root {
    --color-moon-white: rgba(214,236,240,1);
    --color-white-tea: rgba(243,249,241,1);
    --color-white-gao: rgba(242,236,222,1);
    --color-white-plain: rgba(224,240,233,1);
  
    /* 红色系 */
    --color-xiangfei: rgba(255, 179, 167,1);
    --color-pink: rgba(237, 87, 54,1);
    --color-magenta: rgba(240, 0, 86,1);
    --color-peach:  rgba(244, 121, 131,1);
    --color-begonia: rgba(219, 90, 107,1);
    --color-pomegranate: rgba(242, 12, 0,1);
    --color-cherry: rgba(201, 55, 86,1);
    --color-silver-red: rgba(240, 86, 84,1);
    --color-crimson : rgba(255, 33, 33,1);
    --color-crimson-purple : rgb(140, 67, 86,1);
    --color-crimson-red : rgba(200, 60, 35,1);
    --color-rouge: rgba(157, 41, 51,1);
    --color-vermilion: rgba(255, 76, 0,1);
    --color-cinnabar: rgba(255, 78, 32,1);
    --color-tong-red: rgba(243, 83, 54,1);
    --color-madder-red: rgba(203, 58, 86,1);
    --color-fiefy-red: rgba(255, 45, 81,1);
  
    /* 黄色系 */
    --color-light-yellow: rgba(255, 241, 67,1);
    --color-duck-yellow: rgba(250, 255, 114,1);
    --color-primrose: rgba(234, 255, 86,1);
    --color-apricot-yellow: rgba(255, 166, 49,1);
    --color-apricot-red: rgba(255, 140, 49,1);
    --color-orange: rgba(255, 137, 54,1);
    --color-orange-ad: rgba(255, 164, 0,1);
    --color-orange-red: rgba(255, 117, 0,1);
    --color-turmeric: rgba(255, 199, 115,1);
    --color-purple: rgba(240, 194, 57,1);
    --color-orange-between-yellow-and-red: rgba(250, 140, 53,1);
    --color-dark-brown: rgba(179, 92, 68,1);
    --color-camel: rgba(168, 132, 98,1);
    --color-dusky-yellow: rgba(200, 155, 64,1);
    --color-maroon: rgba(96, 40, 30,1);
    --color-brown: rgba(178, 93, 37,1);
  
    /* 绿色系 */
    --color-light-green: rgba(189, 221, 34,1);
    --color-willow-yellow: rgba(201, 221, 34,1);
    --color-willow-green: rgba(175, 221, 34,1);
    --color-bamboo-green: rgba(120, 146, 98,1);
    --color-onion-yellow: rgba(163, 217, 0,1);
    --color-onion-green: rgba(158, 217, 0,1);
    --color-tianshui-green: rgba(89,204,178,1);
    
  
    /* 蓝色系 */
    --color-sky-blue: rgba(68, 206, 246,1);
    --color-indigo-cyan : rgba(23, 124, 176,1);
    --color-indigo-blue : rgba(6, 82, 121,1);
    --color-azure-blue: rgba(62, 237, 231,1);
    --color-azure-sky: rgba(112, 243, 255,1);
    --color-sapphire-blue: rgba(75, 92, 196,1);
    --color-gray-blue: rgba(161, 175, 201,1);
  
    /* 苍色系 */
    --color-pale: rgba(117, 135, 138,1);
    --color-pale-green: rgba(81, 154, 115,1);
    --color-pale-yellow: rgba(162, 155, 124,1);
    --color-pale-cyan: rgba(115, 151, 171,1);
    --color-pale-black: rgba(57, 82, 96,1);
    --color-pale-white: rgba(209, 217, 224);
  
    /* 水色系 */
    --color-water: rgba(136, 173, 166,1);
    --color-water-red: rgba(243, 211, 231,1);
    --color-water-green: rgba(212, 242, 231,1);
    --color-water-blue: rgba(210, 240, 244,1);
    --color-water-cyan: rgba(211, 224, 243,1);
    --color-lake-blue: rgba(48, 223, 243,1);
    --color-lake-green: rgba(37, 248, 203,1);
  
    /* 灰白色系 */
    --color-white: rgba(255, 255, 255,1);
    --color-ivory: rgba(255, 251, 240,1);
    --color-snow-white: rgba(240, 252, 255,1);
  
  
    /* 上面颜色的补色 */
    --color-moon-white-revert: rgba(41, 19, 15, 0.5);
    --color-white-tea-revert: rgba(12, 6, 14, 1);
    --color-white-gao-revert: rgba(13, 19, 33, 1);
    --color-white-plain-revert: rgba(31, 15, 22, 1);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--color-white-tea), var()--color-white-gao);
}

.layout {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 220px;
    background: var(--color-moon-white);
    color: white;
    padding: 1em;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    /* margin: 0 auto; */
    text-align: center;
    background-color: aquamarine;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
}

li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--color-moon-white-revert);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #ddd;
    color: var(--color-white-tea);
}

/* 渐变菜单 */

.gradient-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}
  
.gradient-menu li a {
    text-align: center;
    display: block;
    padding: 10px 20px;
    /* color: white; */
    background: linear-gradient(120deg, var(--color-light-yellow), var(--color-pale-green));
    background-size: 200%;
    background-position: left;
    border-radius: 8px;
    text-decoration: none;
    transition: background-position 0.5s;
}
  
.gradient-menu li a:hover {
    background-position: right;
}

/* glass 玻璃菜单 */
.glass-menu {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background: rgba(255, 255, 255, 0.1); */
    background: var(--color-moon-white);
    backdrop-filter: blur(10px);
    /* border-radius: 15px; */
}
  
.glass-menu li a {
    padding: 10px 20px;
    color: var(--color-moon-white-revert);
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s ease;
}
  
.glass-menu li a:hover {
    background: var(--color-moon-white-revert);
    color: var(--color-white-tea);
}

/* 旋转菜单 */
.rotate-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.rotate-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--color-moon-white-revert);
    transform: rotate(-5deg);
    transition: transform 0.3s ease;
    border: 1px solid var(--color-orange);
    border-radius: 8px;
}
  
.rotate-menu li a:hover {
    transform: rotate(0deg) scale(1.05);
}

.main {
    flex: 1;
    padding: 2em;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
}

.container .box  {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: var(--color-peach); 
    border-radius: 20px;
    transform-style: preserve-3d;
}
.container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    color: var(--color-lake-blue);
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}
.container .box:hover .name{
    opacity: 1;
    top: 40px;
}

.container .box .buy {
    position: absolute;
    bottom: -10px;
    left: 50%;
    /* transform-style: preserve-3d; */
    color: #fff;
    background: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    /* transition: 0.5s; */
    transform: translate3D(-50%, 0 , 80px);
    width: 150px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
}

.container .box img {
    max-width: 50%;
}

.container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: 0.5s;
    transform-style: preserve-3d;
}

.container .box:hover .product{
    transform: translate3d(-50%, -50%, 100px);
}