* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#63120f, #5b1716);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
}

.container .box  {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: rgba(255,255, 255, 0.1);
    border-radius: 20px;
    transform-style: preserve-3d;
}
.container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}
.container .box:hover .name{
    opacity: 1;
    top: 40px;
}

.container .box .buy {
    position: absolute;
    bottom: -10px;
    left: 50%;
    /* transform-style: preserve-3d; */
    color: #fff;
    background: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    /* transition: 0.5s; */
    transform: translate3D(-50%, 0 , 80px);
    width: 150px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
}

.container .box img {
    max-width: 100%;
}

.container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: 0.5s;
    transform-style: preserve-3d;
}

.container .box:hover .product{
    transform: translate3d(-50%, -50%, 100px);
}